@import url('https://fonts.googleapis.com/css?family=Grand+Hotel&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Grand Hotel";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
